body {
    background: linear-gradient(to bottom, #edfafe 10%, #5dacfb );
    text-align: center;
    font-size: large;
    padding: 10px;
    margin: 0;
    font-family: 'Playfair Display', serif;
    min-height: 100vh;
}

header {
    color: #fff;
    padding: 20px;
    text-align: center;
  }

.list-container {
    display: inline-block;
    text-align: left;
    margin: 10px 10px 10px 20px;
    max-width: 600px; 
    width: 100%; 
}

.text-container {
    display: inline-block;
    text-align: left;
    margin: 10px 10px 10px 30px;
    max-width: 900px; 
    width: 100%; 
}

.content-container {
    max-width: 800px; /* Adjust the maximum width based on your design */
    margin: 0 auto;
  }

h1 {
    color: #333; 
}

p {
    color: rgb(20, 19, 19); 
}

ul {
    padding: 0;
}

ul ul {
    margin-left: 40px;
}


li {
    margin: 10px;
    padding: 10px 10px 10px 0px;
}

a {
    color: #0040ff; 
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

figure {
    max-width: 600px;
    margin: 20px auto;
  }

  figure img {
    max-width: 100%; /* Ensure the image does not exceed the width of its container */
    height: auto; /* Maintain the aspect ratio */
    display: block; /* Remove extra space below inline elements */
  }

  figcaption {
    font-style: italic;
    text-align: center;
    margin-top: 10px;
    color: rgb(68, 68, 68);
  }