body {
    background-color: #f0f0f0; /* Set your desired background color */
    text-align: center;
    padding: 50px;
    margin: 0;
    font-family: Arial, sans-serif;
}

.centered-container {
    display: inline-block;
    text-align: left;
    max-width: 450px; /* Set a maximum width for the centered container */
    width: 100%; /* Ensure the container takes up the available width */
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: #333; /* Set your desired title color */
}

p {
    color: #555; /* Set your desired text color */
}

ul {
    /*list-style-type: disc; */
    padding: 0;
}

ul ul {
    margin-left: 40px;
}


li {
    margin: 10px 0;
}

a {
    color: #007bff; /* Set your desired link color */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}